name: Deploy App

on:
  push:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest
    environment: main
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v4
      - uses: rymndhng/release-on-push-action@master
        id: push_release
        with:
          bump_version_scheme: patch
          tag_prefix: v
      - run: echo "GITHUB_TOKEN=${{ secrets.GH_TOKEN }}" > .env

      - uses: subosito/flutter-action@v2
        with:
          channel: "stable"
          cache: true
      - run: echo "${{ secrets.KEYSTORE_FILE_BASE64 }}" | base64 -d > /tmp/upload-keystore.jks
      - run: echo -e 'storePassword=${{secrets.KEYSTORE_PASSWORD}}\nkeyPassword=${{secrets.KEYSTORE_PASSWORD}}\nkeyAlias=upload\nstoreFile=/tmp/upload-keystore.jks' > android/key.properties
      # - run: cp ./android/local.properties.example ./android/local.properties
      - run: flutter build apk --pub --suppress-analytics --build-name=`echo ${{ steps.push_release.outputs.tag_name }}` --build-number=`echo ${{ steps.push_release.outputs.tag_name }} | tr -d v.`

      - name: Get release
        id: get_release
        uses: cardinalby/git-get-release-action@v1
        with:
          tag: ${{ steps.push_release.outputs.tag_name }}

      - name: Upload Release Asset
        uses: actions/upload-release-asset@v1
        with:
          upload_url: ${{ steps.get_release.outputs.upload_url }}
          asset_path: ./build/app/outputs/flutter-apk/app-release.apk
          asset_name: wuxia-release.apk
          asset_content_type: application/octet-stream
